@model IEnumerable<MiAuto0Km.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotorCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca.Nombre_Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAuto.Descripion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTransmision.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotorCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.Nombre_Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAuto.Descripion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTransmision.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Auto }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Auto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Auto })
        </td>
    </tr>
}

</table>
